[2017-02-07 13:02] DeepDiver1975 opened #1 "Backup Codes"
Backup codes are necessary to allow a user to recover from a loss of the second factor device.

[2017-03-24 16:17] Artemiis opened #6 "Not working"
I don't get it working.

I installed from owncloud app store and i'he cloned this repo (with make after that), i can enable two-factor and scan the wr code with otp or google but the code doesn't unlock my owncloud.
Are there any logs, the codes are equal, so they are right.
I#M running lates Owncloud 9.1.4 stable

[2017-03-29 20:15] scolebrook opened #7 "0.4.2 doesn't include fixes in 0.4.1"
It seems that the commit tagged as 0.4.1 is not an ancestor of the later commits for 0.4.2 and branches stable9.1 and master. The split is at the tag 0.4 (2ed3b44) so there's a bunch of fixes in 0.4.1 that aren't in 0.4.2. Not sure the best way to resolve this or where to create a new branch from for a new feature.

[2017-03-29 20:23] DeepDiver1975 commented on #7
very much true - damn spoooning .... I'll add these commits to master and stable9.1.

[2017-03-29 22:05] DeepDiver1975 commented on #6
is the clock of your mobil in sync? is the clock of your servce in sync?

if not - the one time pass can not be validated

[2017-03-30 06:01] #7 closed

[2017-03-31 14:34] met67 opened #10 "Google Authenticator fails to read the barcode on iPhone"
I have installed the plugin on a test server and it works fine as long as I use my Nexus 5 to scan the barcode in Google Authenticator.
If I use my iPhone 5s, it says that the barcode is invalid. If I type the code, all is fine...
The iPhone has iOS 10.2.1 and Google Authenticator app is updated.

The following is a screenshot of the iPhone error:
![img_3907](https://cloud.githubusercontent.com/as

[2017-04-03 06:47] met67 commented on #10
Found the problem:
in lib/Controller/SettingsController.php, functions getSecretName() and getSecretIssuer() use `rawurldecode()` instead of `rawurlencode()`

[2017-04-03 07:02] met67 commented on #10
OK, looks like this is already fixed in master branch.

[2017-04-03 07:02] #10 closed

[2017-04-04 09:11] mundschenk-at commented on #6
Same problem here, clocks should be in sync (NTP on server/network on phone).

[2017-04-07 17:09] Artemiis commented on #6
Sorry,  i retested, my server clock was 2mins to fast. Thanks for tip!

[2017-04-07 17:09] #6 closed

[2017-04-25 07:42] rmbleeker opened #11 "[bug] app contains code not allowed by OwnCloud"
**OwnCloud version:** 9.1.5.2
**OS version:** CentOS 7
**PHP version:** 7.0.10
**Two Factor TOTP version:** 0.4.2

When trying to install the latest *Two Factor TOTP Provider* plugin from within OwnCloud by going to **Apps > Tool** I get the following error:

[code]

I can install the app after setting `'appcodechecker' => false,` in the *config.php*, but I'd rather have the app code checking feat

[2017-04-25 07:50] rmbleeker opened #12 "[bug] App doesn't play nice with asset pipeline"
**OwnCloud version:** 9.1.5.2
**OS version:** CentOS 7
**PHP version:** 7.0.10
**Two Factor TOTP version:** 0.4.2

I've been struggling with this issue for a while, trying to retrace my steps with all the security and performance tweaks I've applied to my OwnCloud installation. I won't bore you with the details, but I finally found out that the Two Factor TOTP Provider app doesn't work when you ha

[2017-04-25 08:05] rmbleeker opened #13 "[request] change text Enable TOTP to Activate TOTP"
**OwnCloud version:** 9.1.5.2
**OS version:** CentOS 7
**PHP version:** 7.0.10
**Two Factor TOTP version:** 0.4.2

Since there is an option to enable/disable *Two Factor TOTP* in the `occ` command I would like to see the text in the users' *Personal* menu changed to **Activate TOTP**. This is because it might cause confusion with admins (it did with me) about what exactly happens when you use the

[2017-04-25 08:27] rmbleeker commented on #1
Seconded. We've implemented OwnCloud at our firm and require users to use 2FA whenever possible. But sometimes users lose or break their phone with the Google Authenticator on it, so backup codes are pretty much a must.

[2017-04-25 13:59] DeepDiver1975 commented on #12
oc10 killed the asset pipline because of this any many other issues. Please update these days .... or test the release candidate now :wink: THX

[2017-04-25 13:59] #12 closed

[2017-04-25 15:07] rmbleeker commented on #12
Since this is an OwnCloud server used in a business we will stick with the stable version for now, which seems to be the version I'm on currently. However it's good to know that the asset pipeline is indeed causing issues and will be removed in future versions.

[2017-04-28 08:30] rmbleeker opened #14 "Two Factor TOTP not compatible with OwnCloud 10"
In issue #12 I was advised to upgrade to OwnCloud 10, so I did as soon as it became available in the stable channel (today). Unfortunately it seems the twofactor_totp app is not yet compatible with OwnCloud 10:

[code]

Hopefully this app can be updated soon so I can use it again.

[2017-04-28 09:22] DeepDiver1975 commented on #14
please grab an update of the app via the marketplace - https://marketplace.owncloud.com/apps/twofactor_totp

best is to use the occ command:

[code]

[2017-04-28 16:29] Tekuzo opened #15 "App not allowed in Owncloud 10.0"
After updating Owncloud to 10.0, owncloud refused to finish the update until this app was disabled.

After disabling this app, owncloud successfully updated to 10.0 and inside of the app management screen this app has the error message beside it

"This app cannot be installed because the following dependencies are not fulfilled:
ownCloud 9.1 or lower is required."

[2017-04-29 06:06] DeepDiver1975 commented on #15
Update the app via the market app.

[2017-04-29 06:06] #15 closed

[2017-05-01 07:52] rmbleeker commented on #14
This gives me

[2017-05-01 09:24] Wurmdosungen opened #16 "0.4.2 (OC 10) doesn't work with PHP 7.1"
After upgrading to OC 10, two factor authorization with the OC 10 app "Two Factor TOTP Provider 0.4.2" stopped working, saying that the app requires a PHP version <= 7.0.

The good news might be that, for me, the code itself seems to work with PHP 7.1. So, a simple temporary workaround is to modify the file owncloud/apps/twofactor_totp/appinfo/info.xml, replacing the line

`<php min-version="5.4"

[2017-05-02 06:58] DeepDiver1975 commented on #14
the app version needs to be updated .... will take care ...

[2017-05-02 07:56] #13 closed

[2017-05-02 13:41] DeepDiver1975 commented on #16
fixed with https://github.com/owncloud/twofactor_totp/pull/17

[2017-05-02 13:41] #16 closed

[2017-05-02 13:42] DeepDiver1975 commented on #14
fixed with https://github.com/owncloud/twofactor_totp/pull/17

[2017-05-02 13:42] #14 closed

[2017-05-02 13:42] DeepDiver1975 opened #19 "Update translations for 0.4.3"

[2017-05-02 19:37] #19 closed

[2017-05-03 08:04] rmbleeker commented on #11
I *think* this is fixed with TwoFactor TOTP 0.4.3 on OwnCloud 10, but I don't dare uninstall and re-install the app to test it. If someone can confirm this issue could be closed.

[2017-05-03 14:03] Bebef opened #20 "Bad TOTP setup workflow for users: lockout possible"
TOTP 0.4.3
OC 10.0.0.12

If you go to security settings and enable TOTP, it will stay enabled regardless of a successful test. So if you enable TOTP and then just log out, you won't be able to recover your account.

Administrators can't disable TOTP for users. The only way to recover is to disable the TOTP app (trough an admin account).

[2017-05-03 14:18] karakayasemi commented on #20
#1 also mentioning about the same problem. AFAIK backup codes will implement for belonging to this issue.

[2017-05-04 06:38] Bebef commented on #20
@karakayasemi Backup codes might be used to mitigate the issue, but the activation of 2FA should not be broken regardless.

[2017-05-04 10:44] rmbleeker commented on #20
As an Administrator you actually can disable 2FA on a per-user basis using the occ command. `occ twofactorauth:disable username` will disable 2FA for that user only. You can still toggle the tickbox in the GUI for that user, but it won't have any effect until the command `occ twofactorauth:enable username` is invoked.

[2017-05-04 12:01] andrewjones216 opened #21 "Enhancement: Make TOTP mandatory"
See Github post on NextCloud https://github.com/nextcloud/twofactor_totp/issues/41

Basically the same request. I need to force users to use TOTP within OwnCloud (but only user I select - i.e. not admin users). The enhancements talked about above cover what we would need here, and it looks like a lot of the ground work has been done as well.

[2017-05-12 21:51] iben12 opened #22 "Cloud ID generation bug"
When owncloud is installed in a subdirectory (ie. mydomain.com/owncloud), the generated cloud ID is displayed as `user@mydomain.com/owncloud`. The barcode is generated with this ID and becomes invalid.

Using manual entry with `user@mydomain.com` works, just not very convenient.

[2017-05-17 07:14] treuss opened #23 "App Passwords get lost"
**OwnCloud version: 10.0.0
OS version: Raspbian 8 (Jessie)
PHP version: 5.6.30
Two Factor TOTP version: 0.4.3**

After having set up some app passwords (it was about 6-8 of them), twofactor_totp loses a random one of them. When I re-add it, another random password gets lost.

This issue doesn't appear, if I only use one app password.

[2017-05-30 11:46] karakayasemi commented on #11
I tested that TOTP 0.4.3 can be activate when appcochecker is active. It works.

[2017-06-03 10:04] #11 closed

[2017-07-04 17:02] andyforceno opened #24 "Minimum version of ownCloud required"
Is this compatible with ownCloud 9? I was unable to install the latest version, but I could install 0.4.1 and then upgrade within ownCloud to 0.4.2. Except, there are no app options in the admin settings for ownCloud. I'm guessing this requires ownCloud 10 now? The listing on apps.owncloud.com implies it should work with 9 (but the newer marketplace page is pretty clear that it's for 10 only).

I

[2017-07-04 22:24] DeepDiver1975 commented on #24
9.1 is the least minimal version - 9.1 allows two factor auth in the server.
just open up your apps mgmt page in 9.1 and install it - the version on https://apps.owncloud.com/content/show.php/TOTP+TwoFactor+%28Google+Authenticator%29?content=174726 is ready for 9.1

[2017-07-04 22:24] #24 closed

[2017-07-06 00:03] andyforceno opened #25 "No app settings on admin page"
I installed v0.4.2 from apps.owncloud.com, but there are no options for it in the admin page. I see in the one screenshot there should be a section "TOTP Second-Factor Auth" in the settings, but I don't have that in mine. There are no errors in ownCloud since I installed the app. Any ideas?

[2017-07-06 07:46] DeepDiver1975 commented on #25
please have a look in the personal settings. there are no admin settings.

[2017-07-06 07:46] #25 closed

[2017-07-10 20:08] karakayasemi commented on #1
I am working on this issue. I added "generate new backup codes" button to setting page. When the user clicks the button, it generates 10 new backup codes.  Each code can be used only once, but the user can generate 10 new backup codes whenever he wants.  But I have a doubt. Should I write this as an external two-factor auth provider app or add "backupCode" provider to this app. For this case, I ch

[2017-07-11 13:00] pfuentes1402 opened #26 "Two Factor TOTP Provider 0.4.3 for Owncloud 10.0, never success verify"
I am using Two Factor TOTP Provider 0.4.3 for Owncloud 10.0, i could installed and configure but never verify success. To generating codes I am using some application like Google Authenticator, FreeOTP and OTP Authenticator.
When I get the code from the secret token and try to verify it, it says "Not verify"
How i can resolve this problem?

[2017-07-11 13:25] karakayasemi commented on #26
Could it be because of the difference in timezone? Please check if your phone and server clocks are out of sync.

[2017-07-11 17:02] pfuentes1402 commented on #26
thanks you, working success to try after syncronice server and phone.

[2017-07-11 17:34] karakayasemi commented on #26
Good to hear that. Can we close this issue then?

[2017-07-11 17:41] #26 closed

[2017-07-17 15:36] karakayasemi commented on #1
Could you please first working version of two-factor backup codes app.
https://github.com/karakayasemi/twofactor_backup_codes/pull/1

[2017-07-26 14:01] Helios07 opened #27 "Make a verification of the second factor mandatory after enabling TOTP"
Is there a chance to make it mandatory for the user to verify the second factor before enabling the app?

I have the strong feeling that many users won't really understand what the app does and enable it accidentally. It will become a problem for us, even if the probability is low, because we have almost 100k users...

Thank you very much!

[2017-07-26 15:19] karakayasemi commented on #27
We can add this feature if everyone agrees, also we can add password confirmation before enabling.

[2017-08-11 10:34] Helios07 commented on #27
Any news on this? Is there anything I can do to help?

[2017-08-11 11:20] karakayasemi commented on #27
I don't think anyone would object, no need to wait. Probably, this weekend I will implement it.

[2017-08-14 08:05] karakayasemi commented on #27
Please test #28.

[2017-08-15 11:53] Touchwoody opened #29 "REST API"
Does this app provide a REST API similar to OTP servers? Something like
https://host/path/validate/check?user=username&pass=123456 to validate an OTP key?

So long,

[2017-08-15 12:00] karakayasemi commented on #29
Unfortunately, does not provide a REST API, but IMHO not hard to implement.

[2017-08-15 12:21] Touchwoody commented on #29
If you consider it doable, it'll be a great help.
We have a bunch of user management websites/-scripts alongside our owncloud installation (sciebo), where some authorized users can do administrative stuff. I'd very much like to safeguard these actions a little bit better and a twofactor mechanism that is already tied to the present user accounts would be a great choice.

[2017-08-15 15:40] karakayasemi commented on #29
I will implement when I find time.

[2017-08-16 09:21] #27 closed

[2017-08-16 09:21] #1 closed

[2017-08-16 09:23] DeepDiver1975 commented on #23
I cannot reproduce this - can you please give explicit steps? THX

[2017-08-16 09:37] DeepDiver1975 commented on #20
we have backup codes now as well as a verification workflow - see #27

we can close this from my pov

[2017-08-16 09:37] #20 closed

[2017-08-16 09:43] DeepDiver1975 commented on #22
This should not work with the latest code base

[2017-08-18 12:35] karakayasemi commented on #22
I installed owncloud to mydomain.com/core. Cloud ID is generated as user@mydomain.com/core and Totp is working. Using Manual entry with user@mydomain.com works also. Am I misunderstanding your problem? Can you please give explicit steps. Thanks

[2017-08-18 14:11] iben12 commented on #22
When I try to scan the generated barcode with Google Authenticator on iOS, I get an
[code]
error. See screenshot at http://imgur.com/a/v4vy1

However entering the user and secret manually just works.

[2017-08-18 18:24] DeepDiver1975 commented on #22
the value of issuer is a url - according to the code it should be 'ownCloud' (assuming you are not using a theme)

which version of this app are you using?

[2017-08-24 07:58] Bebef commented on #20
@DeepDiver1975 Has the setup process been changed in a way that allows you to enable two factor auth only after verifying it? Backup codes are nice, but also are just a workaround to this issue...

[2017-08-24 09:11] karakayasemi commented on #20
Yes it was changed, see #28

[2017-08-24 15:09] rmbleeker commented on #20
Does anyone know when this update will be pushed through the OwnCloud Marketplace? I'm still on version 0.4.3

[2017-08-25 05:32] phynias opened #30 "can't install"
i have owncloud 10 and totp 4.3
i installed the app but it does not show up under apps in the webui.
and nothing under my personal settings either.

[2017-08-25 05:50] #30 closed

[2017-08-29 08:11] iben12 commented on #22
I am using ownCloud 9.1.6 and TOPT 0.4.2

There are two issues here that I can see:

- ownCloud generates the Cloud ID including not only the TLD, but additional URL path (like `user@mydomain.com/owncloudsubfolder`). This is valid just
 does not work when entered into Google Authenticator (see in workaround).

- The TOPT app generates the barcode using the above Cloud ID and the issuer like `https

[2017-08-31 11:46] treuss commented on #23
Hi @DeepDiver1975 ,

sorry for the late response - I've been on vacation during the last weeks.

I just set up two extra app passwords next to the functional one I've been using during the past months.
The steps were the exact same ones I did before:
1. Go to personal settings --> App-Passwords
2. Enter a name: "[DEVICE NAME] Sync"
3. Click on create new app password
4. Store the new password in m

[2017-08-31 16:07] DeepDiver1975 commented on #23
@karakayasemi wana have a look? THX

[2017-09-05 08:26] karakayasemi commented on #23
Firstly, IMHO it can not be related to twofactor_totp app. App passwords are stored in authtoken table in database. Totp never touches to auth-tokens. Auth-tokens are implemented in core. Anyway, I also tested given steps.
1-) I created 6 new app password.
2-) Enabled totp
3-) I tried to login with tokens.
All of them worked. @treuss  am I missing something?

[2017-09-06 12:22] treuss commented on #23
Hi @karakayasemi ,

thank you for clarifying the internals - I didn't even know, that these tokes were a core feature.

I've no idea what happened back then when I reported this bug. Maybe some weird caching problems. However, I've been testing with 3 App Passwords during the last days and it seems to work now. No more disabled App Passwords.

Sorry for the inconvenience and thanks again!

[2017-09-06 12:22] #23 closed

[2017-09-06 12:35] karakayasemi commented on #23
@treuss Thank you for reporting effort at least :) If it happens again, the correct address is core repo. You can open an issue in core.

[2017-11-01 09:57] andrewjones216 commented on #21
Hi,

Has anyone visibility over this?

[2017-12-14 08:25] pmaier1 opened #31 "0.4.4 Release plan"
**Reason**
- Release needed for https://github.com/owncloud/twofactor_totp/issues/27

**QA**
- [x] Create release branch -  release/0.4.4
- [x] Create "$version Testplan" - https://github.com/owncloud/twofactor_totp/issues/40
- [x] Test and document in testplan => Final "Go" from QA (set 'QA-ready' label)

**Marketing**
- [x] Check/adapt info.xml stuff @pmaier1 https://github.com/owncloud/twofacto

[2018-01-15 11:32] SergioBertolinSG opened #40 "Testing version 0.4.4"
## Twofactor TOTP Test Plan

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | --------------- |
| Enable the app.                          | No problems found.                       | ✅  |                 |
| Using a non

[2018-01-15 12:23] SergioBertolinSG opened #41 "Second factor verification page mentions google authenticator"
![screen shot 2018-01-15 at 13 01 20](https://user-images.githubusercontent.com/9048796/34942230-20d18bf2-f9f7-11e7-8895-4c72f4cab695.png)

There is no need to use Google Authenticator with this app, there are other apps. For example FreeOTP.

What do you think @pmaier1

[2018-01-15 23:16] strayobject opened #42 "Prevents app login, fills logs with errors for already authed users"
Installed on OC 10.0.4.4 this module does not seem to be compatible with android mobile app or 'aCalDav' adapter for android.
It prevents new users from being able to authenticate and for those who have connected their mobile app before enabling TOTP it generates a lot of `"message":"Login failed: <username> (Remote IP: <ip>)"` errors in the owncloud.log (does not impede the use of already authent

[2018-01-16 08:18] pmaier1 commented on #41
Good point. For the sake of clarity we should have a more general wording here :+1: Either there is a more general name for services like Google Authenticator or we could remove it and instead just say "Time-based one-time password"

[2018-01-16 09:41] SergioBertolinSG commented on #41
It this a blocker for 0.4.4 release?

[2018-01-16 10:22] pmaier1 commented on #41
No. But should be easy to change that text, right?

[2018-01-16 11:32] SergioBertolinSG commented on #41
Yes, I've made the PR:

https://github.com/owncloud/twofactor_totp/pull/43

[2018-01-16 11:38] pmaier1 commented on #41
Thanks! It's merged.

[2018-01-16 11:38] #41 closed

[2018-01-19 11:22] karakayasemi commented on #21
@andrewjones216 Maybe after this issue https://github.com/owncloud/core/issues/30169 resolved, it can make easier this enhancement.

[2018-01-23 13:15] SergioBertolinSG commented on #40
Note about last test case:

This app cannot work when using shibboleth app.
If someone wants 2fa in such a scenario it has to be implemented at the layer of the IDP.

[2018-01-29 16:16] patrickjahns commented on #42
Can you please provide the following information:
- Exact steps to reproduce
- The relevant lines from `owncloud.log`

@karakayasemi
could help to verify this?

[2018-01-30 07:20] karakayasemi commented on #42
I do not think the problem is related to the application. If totp is enabled, the current mobile clients only support the use of application code. Also, a lot of login failed case is probably related to owncloud/core. @strayobject If you give more details and exact reproducing steps, I can try to debug.

[2018-01-31 18:57] patrickjahns commented on #31
@pmaier1
Can not be released - appinfo.xml is still missing a summary

[2018-02-12 10:28] pmaier1 commented on #31
Info.xml PR https://github.com/owncloud/twofactor_totp/pull/45

[2018-02-15 13:36] #31 closed

[2018-02-15 13:44] karakayasemi commented on #42
@strayobject your problems are probably related to https://github.com/owncloud/core/issues/30157. Please track 10.0.7 hotfix release, if your problems still exist feel free to open this issue again by specifying exact reproduce steps.

[2018-02-15 13:44] #42 closed

[2018-02-15 16:06] patrickjahns commented on #40
closed with #44

[2018-02-15 16:06] #40 closed

[2018-03-23 12:35] pako81 opened #46 "Issue when upgrading TOTP from v0.4.3 to v0.4.4"
Upgrading TOTP from v0.4.3 to v0.4.4 result in the app to be automatically disabled. Users will need to reactivate it and re-enroll any device. Tested on 10.0.7.

@DeepDiver1975 FYI

[2018-03-23 12:44] pako81 commented on #46
To be more precise the app stay enabled but the use is required to untick and tick again the "Activate TOTP" checkbox on the Personal settings page and reverify the authentication code.

[2018-03-23 15:29] karakayasemi commented on #46
@pako81 thanks for reporting. Since 0.4.4, verification has become mandatory to prevent possible lockout scenario. To achieve that we added a new boolean column ("verified") to the database. To activation "verified" column should be true. In the database migration from v0.4.3 to v0.4.4 the column is created with false initial value. That is why your issue is happening.
I am not sure, should we tak

[2018-03-23 16:01] pako81 commented on #46
@karakayasemi thanks for your feedback, I was not aware of the change in the DB structure since v0.4.4. So I guess that updating the boolean column like `UPDATE oc_twofactor_totp_secrets` SET verified=1 WHERE verified=0;` right after the upgrade would make it work normally. And indeed I have tested this out and seems users can log in without the need to reverify the code. Not sure however if recom

[2018-03-30 12:55] felixboehm commented on #46
@PVince81 please clarify how to resolve this issue for next version.

[2018-04-03 08:03] PVince81 commented on #46
@karakayasemi if we decided to make this field "verified" set to true, is there a way for the admin over the UI to force reverification is they choose so ? Goal would be mostly to prevent such upgrade experience.

Do i understand it correctly that in past version the verification wasn't guaranteed so setting it to true on upgrade would be wrong and a potential security flaw ?

I see two possible s

[2018-04-03 09:40] PVince81 commented on #46
Talked with @DeepDiver1975 and he suggested to go the release notes route now.

@pmaier1

[2018-04-03 09:59] karakayasemi commented on #46
As far as I can see, setting this value to "true" only works right after the upgrade. For already updated servers, setting this value true can cause a lockout for users in verification step. In the already updated servers, every user should recreate totp.

[2018-04-03 10:07] PVince81 commented on #46
Hmmm... I can see how admins might miss doing this on time... Can it be done manually before the upgrade ? Is the config value used by the old version ?

[2018-04-03 11:07] karakayasemi commented on #46
No, the column was newly added. We could write a migration to set this value true for existing rows. Now the admins should set true for existing rows right after the update. because we did not.

[2018-04-03 12:20] PVince81 commented on #46
Even if we did now the app is already released, so whatever logic we put in will only be effective when migrating from v0.4.3 to v0.4.5, because changing the setting in v0.4.4 to v0.4.5 would still require all users to reverify.

It looks like we could have this proposed automatic switch when migrating from v0.4.3 to v0.4.5+ and release notes for people already on v0.4.4 that say "sorry, you'll ne

[2018-05-24 13:34] PVince81 commented on #46
moving to backlog, need to schedule some time to look at this...

[2018-07-18 12:25] felixheidecke opened #48 "jQuery Core 1.9 Upgrade Guide"
# jQuery Core 1.9 Upgrade Guide

Changes of Note in jQuery 1.9
See the full [upgrade guide at jquery.com](http://jquery.com/upgrade-guide/1.9/)

## Removed
## Minor

`.ajax()`

- [x] /js/settingsview.js

`.attr()`

- [x] /js/settingsview.js

[2018-08-13 13:02] rene1970 opened #50 "OTP disables syncing CALDAV/CARDDAV/WEBDAV"
After installing OTP i noticed that syncing through the remote.php doesnt work anymore. That's very unconvenient. Is there a workaround or solution for this issue? Any help would be appreciated.

[2018-08-13 13:49] karakayasemi commented on #50
Enabling a second factor will automatically enforce token-based authentication for clients. Please use app password for client authentication. You can app password in your personal settings page. You can open this issue if your problems continue.

[2018-08-13 13:49] #50 closed

[2018-08-13 13:56] rene1970 commented on #50
Your going a bit to fast here mate. What are you trying to say? That i should not use 2FA if i want to use clients? What do you exactly mean with "Please use app password for client authentication. You can app password in your personal settings page."?

[2018-08-13 13:58] phil-davis commented on #50
Login to the webUI, go to the Settings, Personal, Security page. Add an App Password. Put that app password into the client instead of the regular password.

[2018-08-15 12:17] felixheidecke commented on #48
Works as expected.

[2018-08-15 12:17] #48 closed

[2018-08-21 08:41] phil-davis opened #52 "Move CI from Travis to drone"
Some items:
- [ ] sort out the unit test ``phpunit.xml`` and... locations - see #76 and comments there to get it "standard"
- [x] provide the "standard" make file targets like ``test-php-style`` and ``test-php-unit`` #75
- [ ] implement ``.drone.yml`` and run PHP style and unit tests using the makefile targets
- [ ] when nothing is left in ``.travis.yml`` then delete it
- [ ] check any build statu

[2018-08-22 09:42] PVince81 commented on #46
Ok, maybe an occ command that an admin could run if they choose to automatically set the verification to true for existing users ? By default users would need to reverify but the release notes should state that an admin might want to run this command.

The command should allow to set for all users `--all` or for specific user ids. Let the command also set the state (verified vs non-verified). This

[2018-08-22 09:43] PVince81 commented on #46
also cc @pmaier1 as the above was already change of behavior

[2018-08-22 13:30] PVince81 commented on #46
@karakayasemi sounds great. Glad to hear there's also a timestamp in there.

Is this something you'd have time to work on ?

[2018-08-22 14:05] karakayasemi commented on #46
I can work on it this weekend. If it is okay, you can assign it to me.

[2018-08-22 14:08] PVince81 commented on #46
Awesome, thanks

[2018-09-04 14:54] #46 closed

[2018-09-04 15:31] PVince81 opened #55 "TOTP 0.5.0"
### Reason
- Release needed for upgrade issue: https://github.com/owncloud/twofactor_totp/issues/46

### QA
- [ ] Create **QA Milestone**
- [ ] Move items from `development` to `qa`
- [ ] Create release branch with the format "release-$version"
- [ ] Create "$version Testplan"
- [ ] Test and document in testplan => Final "Go" from QA (set 'QA-ready' label)

### Documentation
- [ ] Changes in the d

[2018-09-05 06:57] davitol opened #56 "Drone setup"
Move from Travis to Drone

[2018-09-12 06:19] individual-it opened #58 "0.5.0 Testplan"
All tests run with TOTP [0.5.0](https://github.com/owncloud/twofactor_totp/tree/release-0.5.0) & ownCloud 10.0.10RC2

## Twofactor TOTP Test Plan

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | --------------- |
| Enabl

[2018-09-12 07:29] individual-it opened #59 "token can be used several times"
1. login using a token
2. remember the token
3. logout
4. login again using the same token

From [RFC6238](https://tools.ietf.org/html/rfc6238) :
[code]

[2018-09-12 09:02] individual-it commented on #55
tested and found one issue #59 - severity?

[2018-09-12 15:36] PVince81 commented on #59
likely not a regression as this part of the code wasn't touched

[2018-09-12 15:36] PVince81 commented on #55
likely not a regression as this code wasn't touched

not sure when @karakayasemi will have time to look at this. depending on that we can either wait a bit longer before releasing or release what we have already

[2018-09-12 17:47] karakayasemi commented on #55
It is not a regression but looks like it is a bug from the beginning. If someone listens to the user-server conversation and learns the secret, he/she still should be unable to log on.
We can add a column for the last secret and prevent this situation. We can solve this before the release. I will take care of as soon as possible.

[2018-09-12 17:48] karakayasemi commented on #59
If someone listens to the user-server conversation and learns the secret, he/she still should be unable to log on. I am planning to add a column to app table for the last secret and prevent this situation.

[2018-09-25 16:23] karakayasemi opened #62 "php-cs-fixer"
The code does not follow ownCloud code style. We should introduce php-cs-fixer.

[2018-09-25 18:32] patrickjahns commented on #62
Makefile and `.drone.yml` from https://github.com/owncloud/password_policy are a good starting point.

I am proposing to use `composer-bin` in order to separate dependencies from cli tools ( such as cs-fixer / phan / stan ) from dependencies of the project itself.

[2018-09-26 15:33] PVince81 commented on #55
I had to cherry-pick the fix https://github.com/owncloud/twofactor_totp/pull/63 as it was done on master instead of release branch.
I've pushed it to "release-0.5.0" and updated the changelog.

@individual-it can you retest ?

[2018-09-27 11:59] PVince81 commented on #55
@davitol can you retest ?

[2018-09-28 08:28] PVince81 commented on #59
@karakayasemi ^

[2018-09-28 08:43] PVince81 commented on #59
- [ ] revert on release branch: https://github.com/owncloud/twofactor_totp/pull/64
- [ ] revert on master ?

[2018-09-28 09:28] davitol opened #65 "Cosmetic bug: TOTP app checkbox is not unmarked when disabling the app from the CLI"
**Step to reproduce**
1. Enable TOTP app for user1
2. Via CLI run ```occ twofactorauth:disable user1```
3. Browse to Security section of user1

**Current behavior**

The checkbox is marked

**Expected behavior**

The checkbox should be unmarked. Note that  TOTP is disabled for user1, it is just a cosmetic bug.

<img width="320" alt="screen shot 2018-09-28 at 11 20 17" src="https://user-images.gith

[2018-09-28 10:16] karakayasemi commented on #59
Somehow mapper update is not working in this column:https://github.com/owncloud/twofactor_totp/blob/master/lib/Service/Totp.php#L123. lastValidatedKey column always null. I will debug it.

[2018-09-28 10:38] karakayasemi commented on #59
I found my mistake. To prevent method does not exist warnings in createMock function, I implemented set function for last_validated_key column in here: https://github.com/owncloud/twofactor_totp/blob/master/lib/Db/TotpSecret.php#L65. Obviously, entity setters are doing more than just assignment. They are also updating UpdatedFields of the entity. I will create a fix for my mistake.
Should I open P

[2018-09-28 10:44] PVince81 commented on #59
please open a PR for master

in the future please also manually test to make sure everything works

[2018-09-28 10:46] davitol commented on #65
that wrong connection between disabling via CLI and the webUI i think it makes a lot scenarios of wrong enable status
What i mean is, if you run for example
[code]
the only way to enable totp for the user is via CLI, the webUI won't work for enable it again

[2018-09-28 10:50] PVince81 commented on #65
as far as I remember, these two options are unrelated.

The CLI option exists in core and is related to "two factor authentication", not TOTP. I don't remember whether it enforces two factor auth for that user.

The option in the web UI is specific to this TOTP app, which is a specific implementation / style of two factor authentication. So the checkbox is only here to enable this type for this us

[2018-09-28 10:52] karakayasemi commented on #59
Okay, I will be more careful. Sorry for the mess.

[2018-09-28 11:30] #59 closed

[2018-09-28 11:31] PVince81 opened #67 "TOTP 0.5.1"
### Reason
- Release needed for https://github.com/owncloud/twofactor_totp/issues/59

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "[release-0.5.1](https://github.com/owncloud/twofactor_totp/tree/release-0.5.1)"
- [x] Create "$version Testplan" @davitol Sanity test +  https://github.com/owncloud/twofactor_totp/issues/6

[2018-09-28 11:42] davitol commented on #67
This 0.5.1 fixes: https://github.com/owncloud/twofactor_totp/issues/59

Retested following these steps:

[code]

[2018-09-28 11:50] karakayasemi commented on #65
IMHO, if two-factor is disabled by the admin, the user should not see any two-factor provider app's settings in the personal panel. Maybe, we can add a control for here: https://github.com/owncloud/twofactor_totp/blob/master/lib/Settings/PersonalPanel.php#L39

[2018-09-28 14:27] #67 closed

[2018-09-28 14:33] karakayasemi commented on #58
@PVince81 Shall we close?

[2018-09-28 14:34] #58 closed

[2018-10-10 05:04] phil-davis opened #69 "Add occ command acceptance tests"
Make a ``cli`` acceptance test suite and put tests in it to test twofactor_totp ``occ`` commands. e.g. ``twofactor_totp:set-secret-verification-status``

Main QA issue: https://github.com/owncloud/QA/issues/570

Note: this will require bootstrapping acceptance tests for this app. At that time, we can also think how to automate testing of the TOTP API and webUI behaviour.

[2018-11-01 09:15] #52 closed

[2018-11-02 11:02] karakayasemi commented on #62
I guess, it is resolved with #77.

[2018-11-02 11:02] #62 closed

[2018-11-27 07:53] phil-davis opened #82 "Standardize CI infrastructure"
- [x] use ``phunit`` from core. remove from ``composer.json``
- [x] look for anything else out-of-date with CI scripts

Part of https://github.com/owncloud/QA/issues/582

[2018-11-29 21:12] PVince81 opened #84 "[For 10.1] Twofactor TOTP 0.5.2"
### Reason
- Set max version to 10 for Semver
- QR code lib was updated

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Test: Install from the provided tarball and enable in ownCloud stable10 and check it works

### Documentation
- [ ] Changes in the docs needed?

### Marketing
- [ ] Ping RocketC

[2018-12-03 20:38] PVince81 commented on #84
@DeepDiver1975 please upload to marketplace: https://cloud.owncloud.com/index.php/s/JrPFt5rSftZBUL8

changelog here: https://github.com/owncloud/twofactor_totp/blob/release-0.5.2/CHANGELOG.md#052

[2018-12-03 22:31] DeepDiver1975 commented on #84
released

[2018-12-04 16:08] #84 closed

[2018-12-18 10:45] #82 closed

[2019-01-16 06:33] skshetry opened #89 "Two factor is not disabled/removed during user deletion"
When a user having activated TOTP is deleted, two-factor for that user is not disabled and secrets are not cleaned up.
So, if I:
1. Delete that user,
2. Recreate the user with the same username and,
3. Try to login with One-time password from the previous secret,
Then, it can successfully be logged in.

### Expected Output
The user is logged in without asking for two factor

P.S. This might not be

[2019-01-16 06:51] phil-davis commented on #89
Yes, this seems more likely to be a nuisance issue for the user. If they got their account "reset" (deleted, recreated) by the admin for some reason, and during that process they deleted their client/saved knowledge of the OTP secret, then they will find that they are blocked from logging in - even though their newly-created account has just skeleton files.

Similarly if there was someone "Phil Da

[2019-01-18 14:56] karakayasemi commented on #89
As far as I see, we have a new generic event `user.afterdelete` which is coming with server 10.0.5: https://github.com/owncloud/core/pull/29939/files#diff-0a830b0354b26e84f08f705b5356a05bR317 . Also, we have legacy `\OC\User:postDelete` hook.
If I use the new event, the minimum version of the new release will be 10.0.5 instead of 10.0 . @PVince81 which one should I use?

[2019-01-18 15:02] PVince81 commented on #89
@karakayasemi use user.afterdelete. I think it's ok to depend on 10.0.5 or 10.0.10 in min-version. everything else is too old anyway

[2019-01-22 09:08] skshetry opened #91 "OCC command exits with 0 for the not existing user"
As per the title, if we invoke occ command:
[code]
then, the occ command exits with 0 code.

P.S. Also, the error are printed to standard output, should that not be to stderr?

[2019-01-23 08:34] #69 closed

[2019-01-28 04:44] individual-it opened #93 "run acceptance tests with encryption enabled"
extend the acceptance test matrix, so that all tests also work with encryption enabled see e.g. https://github.com/owncloud/core/issues/34161

[2019-01-28 04:46] individual-it opened #94 "acceptance tests to test the totp workflow"
write webUI tests to check the workflow of the App

[2019-01-28 14:19] PVince81 opened #95 "TOTP 0.5.3"
### Reason
- [x] Release needed for https://github.com/owncloud/twofactor_totp/issues/89
- [ ] other topics ? check changelog

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [ ] Create "$version Testplan"

### Documentation
- [ ] Changes in the docs needed?

### Marketing
- [ ] Ping RocketChat channe

[2019-01-28 19:03] michaelstingl opened #97 "[UX] Improve usability on mobile/touch devices"
1) I'd propose make the click areas bigger. They're too dense on mobile devices.
2) Optimise the Keyboard for number input

Click areas to small | Keyboard not optimised | Keyboard optimised for numbers (iOS app)
-- | -- | --
![2019-01-28_19_32_48](https://user-images.githubusercontent.com/214010/51858503-2c996500-2335-11e9-8730-160afc815171.png) | ![2019-01-28 19 33 42](https://user-images.github

[2019-01-28 19:42] karakayasemi commented on #97
@michaelstingl the UI part of validation is implemented in core. I guess we should move this issue to core.

[2019-01-29 09:00] skshetry opened #99 "Remove background steps from feature files"
Previously, due to #89 , some steps were necessary to disable two factor and re-enable auth as it wasnot cleaned on deletion of user. Now, those steps are not necessary as that is fixed by #90 .

So, remove those 3 ugly steps from the background on [tests/acceptance/features/cliTwoFactorTOTP/steps.feature](https://github.com/owncloud/twofactor_totp/blob/7e70468438824632177a6cde2cfd80407ca62cc7/tes

[2019-02-04 17:06] PVince81 commented on #95
0.5.3RC1 is ready for testing https://github.com/owncloud/twofactor_totp/releases/tag/v0.5.3RC1

[2019-02-21 05:09] #99 closed

[2019-03-01 09:18] PVince81 opened #103 "TOTP 0.6.0"
### Reason
- [x] Release needed for https://github.com/owncloud/twofactor_totp/pull/38
- [ ] other topics ? check changelog

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"  https://github.com/owncloud/twofactor_totp/tree/release-0.6.0 @davitol
- [x] Create "0.6.0 Testplan" https://github.com/owncloud/t

[2019-03-01 10:21] karakayasemi commented on #29
resolved wıth #38 . It will be in 0.6.0.

[2019-03-01 10:21] #29 closed

[2019-03-07 10:26] davitol commented on #95
@PVince81 Tarball contains hidden drone.yml files etc

![screen shot 2019-03-07 at 11 25 14](https://user-images.githubusercontent.com/10596560/53950123-cccc7180-40cb-11e9-8d4d-99936d0ee47e.png)

[2019-03-07 10:44] phil-davis commented on #95
Those are all "new" CI script-related files. See PR #104
It is a bit of a pain that this repo does `make dist` in a different way to other app repos.

[2019-03-07 14:01] PVince81 opened #105 "Reduce tarball size"
The tarball is too big, about 13 MB.

It seems that some composer dependencies are including data files.

We should investigate whether said files are really necessary for the functionality of this app.

[2019-03-07 14:12] PVince81 commented on #95
@davitol please recheck: https://github.com/owncloud/twofactor_totp/releases/download/v0.5.3RC2/twofactor_totp-0.5.3RC2.tar.gz

also I've raised https://github.com/owncloud/twofactor_totp/issues/105 because I'm annoyed about the tarball size

[2019-03-08 09:15] davitol opened #106 "Upgrade version from 0.5.2 to 0.5.3. is not shown in the app:list output"
![screen shot 2019-03-08 at 10 04 28](https://user-images.githubusercontent.com/10596560/54019186-dcf75600-418a-11e9-9aad-3f97c033b7c6.png)

But the bits seems to have been updated

![screen shot 2019-03-08 at 10 14 18](https://user-images.githubusercontent.com/10596560/54019228-f7c9ca80-418a-11e9-8beb-01de0e015b72.png)

[2019-03-08 09:20] davitol commented on #89
Tested with tarball 0.5.3.Rc2: https://github.com/owncloud/twofactor_totp/issues/95#issuecomment-470540221  and keeps failing for me:

**Steps to reproduce**

1 - enable totp
2 - create a user /pwd
3 - log in with user /pwd
4 - enable totp using FreeOTP for the validation
5 - Log out and log in again using FreeOTP
6 - As admin, delete user
7 - As admin, create user /pwd2
8 - Log in using new passw

[2019-03-08 09:20] davitol commented on #95
Known issues:

https://github.com/owncloud/twofactor_totp/issues/106

https://github.com/owncloud/twofactor_totp/issues/89#issuecomment-470861119

[2019-03-08 15:50] PVince81 commented on #106
sounds like https://github.com/owncloud/core/pull/34133

@davitol did you try running the command multiple times ?

the DB update for the version is only done on the next HTTP request and possibly OCC.
maybe `occ app:list` is fetching the list too early before said DB update...

please also check oc_appconfig values

[2019-03-08 15:51] PVince81 commented on #89
@karakayasemi please investigate

[2019-03-08 16:21] karakayasemi commented on #105
I investigated tarball. The problem is this font file in `endroid/qr-code` dependency: https://github.com/endroid/qr-code/blob/master/assets/fonts/noto_sans.otf (15.7 Mb).
Looks like it is necessary for qr-code. I guess, there is nothing to do except changing dependency, we can close this ticket.

[2019-03-09 13:15] karakayasemi commented on #89
I could not reproduce the problem. I followed the below steps:
1- Checkout `stable10`
2- Enable totp 0.5.2
2- Create user `test`
3- Enable totp for test
4- Using `test` user, logout and login with password + totp
6- Remove totp v0.5.2, copy 0.5.3RC2 tarball
7- Delete user `test` with occ command
8- Check `twofactor_totp_secrets` table (There is no entry, working as expected)
9- Create `test` user

[2019-03-11 09:20] davitol commented on #89
@karakayasemi Sorry wrong steps detailed above.

In the scenario detailed in the OP:

1 -    Delete that user,
2 -    Recreate the user with the same username and,
3 -   Try to login with One-time password from the previous secret,
4 -   Then, it can successfully be logged in.

The user that 'has been hacked' keeps been possible to log in. The PR fixes if the user deletion happens after the totp u

[2019-03-11 10:48] karakayasemi commented on #89
When you delete user (step 1), this PR deletes all user related entries in totp table. When you create an user with same username, two factor totp will not be activated for the new user. So, step 3 should be not possible.
Actually, this PR's purpose is prevent possible locked down situation of new user from old user's second factor and clean up old redundant data.

[2019-03-11 11:02] davitol commented on #89
Yes, those steps are from the OP and twofactor_totp 0.5.2. (Already released). The scenario i comment is about fixing that users that were already deleted+created before the  twofactor_totp upgrade. Due to the PR works fine for the detailed problem and prevents to happen again in the future, i think it is fine for me. Let's close it.

[2019-03-11 11:02] #89 closed

[2019-03-11 11:10] davitol commented on #106
Retested and works. So it was probably due to https://github.com/owncloud/core/pull/34133. Also checked in oc_appconfig and everything is OK. Let's close the ticket

[2019-03-11 11:10] #106 closed

[2019-03-11 11:11] karakayasemi commented on #89
Sorry, I understand your point now. I guess, it is not in the this PR's scope. To delete old deleted user's secrets, we should iterate all totp entries and check user exist or not.

IMHO, we may add an `occ` command for that.

[2019-03-11 12:14] davitol commented on #95
@PVince81 Tarball is QA-ready.

Two items to consider:

- Are we OK about releasing with the Tarball size "problem"? https://github.com/owncloud/twofactor_totp/issues/105#issuecomment-470986860
- Should we skip TOTP 0.5.3 and directly launch 0.6.0? Or just release what we have until now https://github.com/owncloud/twofactor_totp/issues/103

[2019-03-14 08:55] PVince81 commented on #105
I don't really get why a QR code generator would require fonts, unless it's rendering text in the middle of the QR code in a fancy manner... Are we using this text feature ? If not we should look into switching to a small library then. (future task)

[2019-03-15 08:23] #95 closed

[2019-03-19 15:06] PVince81 commented on #89
@karakayasemi can you raise a ticket for this ?

[2019-03-19 16:45] karakayasemi opened #110 "Command to clear secret of users which are deleted before totp 0.5.3"
We should add an occ command to allow administrators to clear redundant secrets

[2019-03-19 16:46] karakayasemi commented on #89
Raised in here: https://github.com/owncloud/twofactor_totp/issues/110

[2019-04-20 12:36] phil-davis opened #117 "webUI acceptance test failing intermittently"
webUI acceptance test scenario `webUITwoFactorTOTP/keyVerification.feature:11` fails intermittently.
https://drone.owncloud.com/owncloud/twofactor_totp/210/112
[code]

Make it reliable.

[2019-04-20 12:45] phil-davis commented on #117
PR #116 should fix it.

[2019-04-20 12:48] phil-davis opened #118 "Acceptance test undefined index TwoFactorTOTPContext.php line 103"
Sometimes (rarely, I think) the following can hasppen in the acceptance tests:
https://drone.owncloud.com/owncloud/twofactor_totp/215/144
[code]

I noticed this happen once when running tests repeatedly in PR #115

[2019-04-22 21:50] phil-davis commented on #117
PR #116 merged. Looks good. Please reopen this issue if a similar test fail happens.

[2019-04-22 21:50] #117 closed

[2019-07-05 15:38] micbar commented on #103
Seems like DEV is done, PR merged.

[2019-07-09 12:47] davitol commented on #94
Can it be closed via https://github.com/owncloud/twofactor_totp/pull/124? @individual-it @HariBhandari07

[2019-07-10 07:56] davitol opened #128 "Tracking testing results for twofactor_totp 0.6.0"
All tests run with TOTP 0.6.0. RC1 and ownCloud 10.2.1

## Twofactor TOTP Test Plan

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | --------------- |
| Enable the app.                          | No problems found.

[2019-07-10 07:59] davitol commented on #128
## Changelog for 0.6.0

- [ ] add validate api for totp [#38](https://github.com/owncloud/twofactor_totp/pull/38) @davitol

[2019-07-10 10:40] davitol opened #129 "CLI command twofactorauth:enable does not enable two-factor authentication for a user."
## Test steps

1- Via CLI run ```twofactorauth:enable user```

## Current behaviour
'user' is not asked for 2FA code to login. Also TOTP checkbox is not cheched in the webUI

## Expected behavior

 'user' has to use 2FA mandatory to login

Command description says

[code]

[2019-07-10 10:46] davitol commented on #128
### Issues found while testing 0.6.0 RC1
- [ ] https://github.com/owncloud/twofactor_totp/issues/129 CLI command twofactorauth:enable does not enable two-factor authentication for a user.

[2019-07-10 11:06] karakayasemi commented on #129
@davitol The expected behaviour is wrong. We can close this ticket.
Totp is not only twofactor-auth provider and `twofactorauth:enable` command belongs to `core`, not related to totp app.
When it is enabled (default enabled for all users), user able to use twofactor-auth. But, an admin can disable twofactor-auth for an user with this command, for example when the user requested it on a locked-down

[2019-07-10 11:08] karakayasemi commented on #128
I added a comment to related ticket. This command is not related with totp app and working as expected. I guess we can ignore this issue.

[2019-07-10 11:08] #129 closed

[2019-07-10 12:12] #128 closed

[2019-07-10 12:15] davitol commented on #103
@micbar @patrickjahns Tarball is QA-ready

[2019-07-11 06:35] #94 closed

[2019-07-11 09:31] #103 closed

[2019-07-17 02:46] skshetry opened #132 "Implement api tests for OCS v2"
PR #131 adds api tests for OCS api v1. Refactor those tests to also check for OCS api v2.

[2019-07-26 08:41] #110 closed

[2019-07-30 05:06] #132 closed

[2019-08-20 10:00] patrickjahns opened #137 "[FOR 10.3] TOTP 0.6.1"
### Reason

- Php7.3 support

### QA

- [x] Create **QA** Milestone and set the description to $version
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Create "$version Testplan" #150 @individual-it

### Documentation

- [ ] Changes in the docs needed?

### Marketing

- [ ] Ping @owncloud/marketing
- [x] Check/adapt info.xml stuff
-

[2019-09-17 13:10] croniserb opened #138 "GUI Feature Request 2FA enabled"
It would be nice to see a column added to the user settings area to see who has 2FA enabled on their account.  Taking this one step further, a way to force 2FA on all new accounts created.  The first part would fill the immediate need.  Thanks.

[2019-09-17 13:48] karakayasemi commented on #138
I would consider this issue belongs to core or user management app. Because, Totp app is only one of the 2-FA providers.

For the implementation of desired enhancement, I can say probably current user settings page already has this information or it is accessible with an API call. Just we need to decide how to show it in the current UI.

[2019-09-27 03:50] phil-davis opened #140 "Error enabling twofactor_totp with Oracle"
[code]
https://drone.owncloud.com/owncloud/twofactor_totp/444/10/4

Currently CI is not running any matrix entry with Oracle. I noticed this when I tried with Oracle.

Is Oracle supposed to be supported?

[2019-09-27 05:32] phil-davis opened #141 "Review acceptance test feature names"
and descriptions.

The feature files are currently called `steps.feature`

- [ ] Choose better names for the CLI, API and webUI features. If needed/appropriate, split into multiple feature files.
- [ ] adjust the feature and scenario descriptions as needed

(not high priority, but I noticed when doing drone conversions)

[2019-10-11 07:08] hosy opened #144 "Return different error code, when TOTP is enabled and wrong password was entered"
Clients cannot identify, if TOTP is enabled and the user tries to login with the normal user password but the login expects an app password.
We have bad reviews, because users cannot remember, they enabled TOTP with a extra app password and they thinks, our client has a general login problem.

## Samples

### TOTP NOT enabled, Login with wrong user password
- User has NOT enabled TOTP in settings

[2019-10-16 08:15] michaelstingl commented on #144
With OAuth 2.0 or OIDC as a default, this wouldn't cause problems.

[2019-10-17 15:27] phil-davis opened #147 "Adjust "make dist" to be consistent with other apps"
So that release tarballs can be built in a similar way to other apps.

[2019-10-21 03:24] #147 closed

[2019-10-21 06:58] individual-it opened #150 "0.6.1 Testplan"
## Twofactor TOTP Test Plan

all tests done with PHP 7.3 and oC 10.3.0

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | --------------- |
| Enable the app.                          | No problems found.

[2019-10-28 09:01] #150 closed

[2019-10-28 09:54] #137 closed

[2019-11-20 11:16] skshetry commented on #118
It's weird given that we wait for the QR image to appear, and parse it ourself. My guess would be, that the QR image element has loaded, but the `src` attribute hasn't yet.

Have you seen this kind of errors lately? If not, we could revisit this later and close for now.

[2019-11-20 15:35] phil-davis commented on #118
I have not noticed failures in the nightly runs. So I guess this is not happening these days.
If you can't see an obvious way why this can happen, and how we could adjust the acceptance test code, then close this issue.

[2019-11-20 15:42] #93 closed

[2019-11-21 03:41] skshetry commented on #118
I checked the TwoFactorTOTP page. When the **Activate TOTP** is checked, the image and all other settings get appended at once. We are waiting for the image to appear, so, unless the `QRReader` parser is to blame, that is unlikely to happen. And, it happened only once, so, I'd not waste more time into this. If we see this often, let's reopen and investigate.

For the record, if this happens again,

[2019-11-21 03:41] #118 closed

[2019-12-12 17:01] bitterdev commented on #50
hello i have owncloud. Since i'm using 2FA webdav is not working anymore. Even if i use app Passwords.

[2020-03-16 16:12] karakayasemi commented on #144
twofactor_totp is just one of two-factor authentication providers. This issue should be solved in core. Because of that, transferring the issue to core.

I also quickly debugged the request trace. As far as I see, we can not handle exceptions in OCS outside of following registered exception handler: https://github.com/owncloud/core/blob/7587c84e5ba13fdc8870f8172b843cf7d41c94a1/lib/base.php#L575 .

[2020-03-23 10:07] #105 closed

[2020-04-23 04:49] phil-davis opened #170 "Acceptance tests failing"
The nightly test run had some fails. e.g.
https://drone.owncloud.com/owncloud/twofactor_totp/732/13/11
[code]

After rerunning the acceptance tests, 2 scenarios failed, but one of them passed on the 2nd run. This one failed 2 times:
https://drone.owncloud.com/owncloud/twofactor_totp/733/11/11
[code]

The 3rd run of the tests had 3 fails. 2 of those passed the 2nd time, leaving 1 failure at the end

[2020-04-23 04:54] phil-davis commented on #170
Note: PR #168 "Bump khanamiryan/qrcode-detector-decoder from 1.0.2 to 1.0.3" was merged recently. Maybe that has caused some different timing.

The diff of that dependency bump is https://github.com/khanamiryan/php-qrcode-detector-decoder/compare/1.0.2...1.0.3

But I don't see anything in that code that might be a problem.

[2020-04-24 05:18] jasson99 commented on #170
I tried to run the acceptance tests after reverting PR #168 . It seems like that PR did not resulted in the tests failure.(at least not only by that PR).. We can see the tests failing still after reverting the changes in that PR as: https://drone.owncloud.com/owncloud/twofactor_totp/745

[2020-05-06 03:07] phil-davis commented on #170
https://drone.owncloud.com/owncloud/twofactor_totp/794/35/13
[code]

Sadly there was 1 test scenario that failed twice in a row last night. So PR #172 is an improvement, but not perfect.

[2020-05-08 03:24] phil-davis commented on #170
https://drone.owncloud.com/owncloud/twofactor_totp/796/44/13
[code]

[2020-05-26 03:36] phil-davis commented on #170
https://drone.owncloud.com/owncloud/twofactor_totp/816/25/11
[code]
It has not failed for a while!

[2020-06-02 06:01] phil-davis commented on #170
https://drone.owncloud.com/owncloud/twofactor_totp/826/23/11

[code]

[2020-06-02 06:16] karakayasemi commented on #170
This commit has touched the key generation logic https://github.com/owncloud/twofactor_totp/commit/0de4518651ccde953e4037b6959c97437ab57e0e . So, it may have broken something, I will investigate.

[2020-06-02 06:19] phil-davis commented on #170
@karakayasemi thanks.
The test fail is intermittent. So it might still be some test timing of when the new OTP is generated, and when it is immediately used in the UI, or???

[2020-06-02 06:28] karakayasemi commented on #170
I suspect from the encoding format of the generated key or something similar. Since this problem did not exist in the past, I do not think any timing related problem.

[2020-06-03 09:28] HanaGemela opened #180 "twofactor_totp 0.7.0"
### Reason

- Release needed for owncloud/twofactor_totp#175

### Product approval

- [x] Ping pmaier to check `info.xml` description and screenshot
- [x] Get approval on translations from pmaier

### QA

- [x] Generate Changelog
- [x] Create **QA** Milestone and set the description to $version
- [x] Move items from `development` to `qa`
- [ ] Verify transifex commits are in master - last commit t

[2020-06-07 18:15] karakayasemi commented on #170
https://github.com/owncloud/twofactor_totp/pull/167 has added a casting operation to fix phpstan errors. However, it looks like there is a problem in the upstream method signature of this method https://github.com/ChristianRiesen/otp/blob/master/src/OtpInterface.php#L71

When the key starts with '0', typecasting to int operation loses that leading '0' and this situation leads to failure.

Fix PR i

[2020-06-08 03:13] phil-davis opened #183 "Put back some error handling in acceptance tests"
PR #172 added various error handling for when OTP generation failed, and also added a retry of the OTP generation.

The underlying cause was fixed in PR #182 (issue #170 ) and in that PR the code was PR #172 was reverted, which was generally good. We do not want to automatically retry OTP generation in the tests, we now want it to fail straight away if something goes wrong.

But it will be nice if

[2020-06-08 03:15] #170 closed

[2020-06-09 05:54] #183 closed

[2020-06-19 07:24] HanaGemela commented on #180
@davitol RC1 https://github.com/owncloud/twofactor_totp/releases/tag/v0.7.0RC1

[2020-06-29 18:03] karakayasemi commented on #140
The fix PR got merge in the upstream repo: doctrine/dbal#4106. It will be released next minor version of doctrine/dbal.
When we update doctrine/dbal dependency in core, this issue will be resolved. Let's keep the issue open until oracle tests are reactivated in this repo.

[2020-07-02 08:30] davitol commented on #180
Tarball is QA-ready :shipit:

[2020-07-10 16:45] jnweiger commented on #180
https://github.com/owncloud/twofactor_totp/releases/tag/v0.7.0 is public

[2020-07-14 15:00] #180 closed

[2020-07-17 13:52] jnweiger commented on #180
min version remains at 10.2 -- its a community app, although it only is included in the specs of the owncloud-complete server bundle...

[2020-07-23 14:34] wassereimer86 opened #189 "Not logging failed login attemps"
If i enter a wrong 2fa code it doesn´t generate an entry in the owncloud.log file. I think this should happen so that fail2ban can stop attacks.

See: https://doc.owncloud.com/server/admin_manual/configuration/server/harden_server.html#using-fail2ban-to-secure-an-owncloud-login

[2020-07-26 08:57] karakayasemi commented on #189
Thank you for opening an issue. This problem is resolved with https://github.com/owncloud/core/pull/37401 . It will be in ownCloud server version 10.5.0 which will release very soon.

[2020-07-26 08:57] #189 closed

[2020-09-02 08:21] GlennMatthys opened #198 "File integrity manifest includes temporary file QrReaderTest.php~ (installed from rpm packages)"
### Steps to reproduce
1. Install Owncloud from RPM package https://download.owncloud.org/download/repositories/10.5.0/CentOS_8/noarch/owncloud-complete-files-10.5.0-4.1.noarch.rpm
2. Login as admin

### Expected behaviour
No "There were problems with the code integrity check." message

### Actual behaviour
"There were problems with the code integrity check." message appears. (See signing status b

[2020-09-08 02:50] #140 closed

[2020-11-22 06:45] phil-davis commented on #198
I pinged the repo owner https://github.com/khanamiryan/php-qrcode-detector-decoder/pull/96#issuecomment-731706341
And transferred this issue to twofactor_totp

Let's see if we get any response.

[2020-11-25 10:59] Serverprogetti commented on #198
Hello,
I am also facing the same issue,

Operating system: CentOS Linux release  7.8.2003 (Core)

Web server: httpd-2.4.6-93.el7.centos.x86_64

Database: mariadb-5.5.65-1.el7.x86_64

PHP version: PHP 7.2.34

ownCloud version: 10.5

Let's see if we get any response.
Thanks.

[2020-11-30 07:37] phil-davis commented on #198
Should be fixed by #199

[2020-11-30 07:38] phil-davis opened #200 "Release twofactor_totp 0.7.1"
### Reason

To fix issue #198 (PR #199 )

### Product approval

- [x] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated from transifex` ...
- [x] Ping pmaier to check `info.xml` description and screenshot
- [x] Get approval on translations from pm

[2020-11-30 08:14] #198 closed

[2020-12-04 13:22] Gehilfe opened #202 "Can't enable TOTP (no authentication code)"
Hi,
after updating my owncloud to 10.5.0.10 I could not connect to my cloud with TOTP. I had to disable the app manually via terminal to log in again.

After restoring my mysql backup, I was able to log in to the owncloud again and also click the checkbox to activate the TOTP app. The QR code also appears but unfortunately no authentication code is displayed. I'm using PHP7.2 on Ubuntu Server 16.0

[2020-12-04 13:53] karakayasemi commented on #202
please check is there any related owncloud.log lines for your problem.

[2020-12-07 20:44] Gehilfe commented on #202
Unfortunately, the log file does not provide any useful information about my problem

[2020-12-08 12:32] michaelstingl opened #203 "Recommend usage of OAuth 2.0 in appinfo/info.xml to allow login with desktop and mobile apps"
To use twofactor_totp with ownCloud desktop and mobile apps, activation of [OAuth 2.0 app](https://github.com/owncloud/oauth2) is recommended.

[2020-12-08 15:54] gopromaster commented on #198
I still get the above warning, namely:

`Results
=======
- twofactor_totp
	- FILE_MISSING
		- vendor/khanamiryan/qrcode-detector-decoder/tests/QrReaderTest.php~
`

OS: Ubuntu 20.04.1 LTS

Web server: Apache/2.4.41

Database: mariadb  Ver 15.1 Distrib 10.3.25-MariaDB

PHP version: PHP 7.4.13

ownCloud version: 10.5

I thought this was fixed?

[2020-12-08 15:57] phil-davis commented on #198
It needs a release of this app. See issue #200
I don't know when someone will do a release.

[2020-12-08 16:07] phil-davis commented on #200
@micbar see comment https://github.com/owncloud/twofactor_totp/issues/198#issuecomment-740706279

The upstream problem got fixed, and PR #199 brought that in. People see that the upstream has been fixed, and then of course they ask why the problem is not resolved for them. It is because this app now needs a release.

There is just this one thing waiting to release. It does not depend on 10.6.0. Co

[2020-12-08 16:14] micbar commented on #200
@phil-davis You are right. Currently the release pipeline is busy with 10.6.0

[2020-12-08 17:47] Gehilfe commented on #202
ok, i'm totally stupid. Sorry! I just had to enter the code from the TOTP app. Everything is working fine now.

[2020-12-08 17:47] #202 closed

[2020-12-14 12:21] dfcsoftware commented on #200
I fixed this by installing 2-Factor Authentication from Marketplace, then un-installing it.

[2020-12-16 13:56] Serverprogetti commented on #200
I fixed this by pressing twice the install button in 2-Factor Authentication from Marketplace, I got the message "already installed", but after the warning gone. Thanks.

[2020-12-30 18:46] karakayasemi commented on #22
A bug have fixed in upstream repository which may cause to this issue if url has special characters: https://github.com/ChristianRiesen/otp/pull/29

We will update the related dependency with this PR and I am planning to close this issue after merging the update PR. If error still persist, please re-open the issue. Thanks.

[2020-12-31 02:49] #22 closed

[2020-12-31 02:50] phil-davis commented on #200
Also #205 was merged.

[2021-01-02 20:11] micbar commented on #200
setting to p2 because fix is available and people are waiting.

@jnweiger

[2021-01-04 02:02] bossman90 opened #206 "Can't enable TOTP for users (Internal 500 error)"
ownCloud Version: 10.6.0
php Version: 7.4

Expected behavior…
Click your user name and then click “Security”. a check box is displayed under the TOTP Second-factor Auth section, click the check box and a QR code will show up where you can scan and enter the code provided by the app in order to authenticate.

Unexpected behavior…
Click your user name and then click “Security”. a check box is displa

[2021-01-04 02:51] phil-davis commented on #206
https://doc.owncloud.com/server/admin_manual/installation/quick_guides/ubuntu_18_04.html#install-the-required-packages

`php-imagick` is one of the required extensions. So make sure to install that, and all the needed extensions. For example, on Ubuntu:
[code]

[2021-01-04 02:52] #206 closed

[2021-01-04 17:23] jnweiger commented on #200
Testplan: https://github.com/owncloud/QA/blob/master/Server/Test_Plan_twofactor_totp.md

[2021-01-07 15:50] jnweiger commented on #200
Last transifex sync was from Nov. 1. 2020, home that is good enough.

[2021-01-12 00:40] jnweiger opened #207 "[QA] 0.7.1 Testplan"
## Setup
[code]

## Twofactor TOTP Test Plan

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | --------------- |
| Enable the app.                          | No problems found.                       | :heavy_check_mark:

[2021-01-12 17:46] jnweiger commented on #198
In https://github.com/owncloud/twofactor_totp/releases/download/v0.7.0/twofactor_totp-0.7.0.tar.gz we have
[code]

[2021-01-12 17:59] phil-davis commented on #198
And in https://github.com/owncloud/twofactor_totp/releases/download/v0.7.1RC1/twofactor_totp-0.7.1RC1.tar.gz the file `QrReaderTest.php~` is not there, which is good. This problem should be fixed in 0.7.1

[2021-01-13 08:45] jnweiger commented on #198
And twofactor_totp is no longer part of the server-complete bundle as per server 10.6.0 -- so the issue would not show up there either.

[2021-01-13 22:10] jnweiger commented on #200
## test installation of twofactor_totp-0.7.1RC1.tar.gz in docker owncloud/server:10.6.0

* issue #198 confirmed fixed. :heavy_check_mark:
*

[2021-01-14 00:40] jnweiger commented on #207
QA passed :ship: it!

[2021-01-14 00:43] #207 closed

[2021-01-14 18:50] #200 closed

[2021-03-24 23:57] phil-davis opened #213 "CI fails with old oC10 and current encryption"
https://drone.owncloud.com/owncloud/twofactor_totp/1196/35/8
App "Default encryption module" cannot be installed because the following dependencies are not fulfilled: ownCloud 10.7 or higher is required.

We cannot run CI pipelines that have the encryption app with old oC10 10.6 or earlier. Remove those from CI.

[2021-03-25 06:10] #213 closed

[2021-03-28 23:20] phil-davis opened #217 "Release twofactor_totp 0.7.2"
### Reason

A few translations have been fixed. PR #215 #216 - in a few days, check that the new strings to be translated have actually had translations made in Transifex and that they have come back across here.

Also a dependency bump PR #211

### Product approval

- [x] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https:

[2021-04-20 19:10] ib-mlatin commented on #21
I hate to bump old issues, but is this available yet?

[2021-05-12 09:08] C0rby opened #222 "Consider invalidating sessions on 2fa setup"
Currently when a user enable 2fa all existing sessions are still valid. It seems to be considered best-practice to invalidate existing sessions when enabling 2fa.

This could be considered a hardening.

Keep in mind when invalidating sessions all clients need to reauthenticate including the mobile and desktop apps.
So it's a tradeoff between security and convenience.

Also in case of an account co

[2021-05-26 00:10] jnweiger opened #223 "[QA] 0.7.2 Testplan"
## Setup
[code]

## Twofactor TOTP Test Plan

* References: [Template](https://github.com/owncloud/QA/edit/master/Server/Test_Plan_twofactor_totp.md)

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | --------------- |
| E

[2021-05-28 10:23] BentiGorlich opened #224 "TOTP cannot be re-enabled"
Hello,

I disabled totp for my owncloud account because I didn't have the qr code anymore and only had it on my tablet, but not on my phone. If I want to re-enable it, a qr code does not show up and the request returns a 500 internal server error. So I can't re-enable it on my server.

I don't know if it is a error specificaly on my owncloud instance or if it is a bug, but I hope you can eigher he

[2021-06-11 09:34] jnweiger commented on #223
Safari test not needed here.

[2021-06-11 10:24] #217 closed

[2021-06-11 10:24] #223 closed

[2021-07-23 20:25] prsnbrg opened #231 "Login not yet adapted to new design"
![image](https://user-images.githubusercontent.com/29964525/126837682-e2bd1b98-9dfb-446c-9017-e7cf3557febc.png)

Please adapt the complete login process for 2FA to the new design of oC 10.8.

[2021-07-23 20:35] prsnbrg opened #237 "2FA login selection should be adapted to the new design"
With oC 10.8 and latest twofactor_totp app the login selection for 2FA looks like this:
![image](https://user-images.githubusercontent.com/29964525/126838214-515596ff-35e0-4bf7-8b38-1d1d7e8d87fb.png)

I think the 2FA login selection should be adapted to the new design.

Also, it would help if the selections are displayed as buttons so each option can be easily identified as such. owncloud/core#386

[2021-07-25 16:31] realUbie commented on #224
Can confirm, nothing happens when you tick the "Activate TOTP" checkbox

[2021-08-15 12:29] realUbie commented on #224
I couldn't find any helpful logs, ended up reinstalling my ownCloud instance, which solved this issue

[2021-09-29 21:27] prsnbrg opened #238 "Two-factor login: More user-friendly challenge overview"
### Steps to reproduce
1. Activate TOTP and 2FA Backup Code App
2. Create 2factor for user1
3. Create Backup Codes for user1
4. Login with user1

### Expected behaviour
Tell us what should happen
Better overview of the challenges. I think this can be achieved with bullet points or if they are like buttons (like https://github.com/owncloud/core/pull/38506).

### Actual behaviour
Tell us what happen

[2021-09-30 16:35] JanAckermann commented on #238
And back she goes 😁
Thx for info

[2021-11-03 12:12] #231 closed

[2021-11-03 12:28] phil-davis opened #241 "Release twofactor_totp 0.7.3"
## Reason

* PR #232 "Adapt to new login design"
* Dependency updates
### Product approval

- [x] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated from transifex` ...
- [x] Ping pmaier to check `info.xml` description and screenshot
- [x] Get appr

[2021-11-09 16:21] jnweiger opened #242 "[QA] 0.7.3 Testplan"
## Setup
[code]

## Twofactor TOTP Test Plan

* References: [Template](https://github.com/owncloud/QA/edit/master/Server/Test_Plan_twofactor_totp.md)

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | --------------- |
| E

[2021-11-12 03:15] GeraldLeikam commented on #242
tests ok, but found a theme error

![totp_login_01](https://user-images.githubusercontent.com/54261654/141402893-e25ce95e-1628-4f88-a6b9-b78ff23de770.png)

[2021-11-14 14:55] prsnbrg commented on #237
The overview of 2fa options is implemented in core.
Please reopen this issue.

There is the same graphical error as in this app. The line of the upper box is not continuous.

[2021-11-17 10:34] GeraldLeikam commented on #241
Close after release

[2021-11-17 10:34] #241 closed

[2021-11-18 13:06] prsnbrg commented on #242
The design error occurs due to a characteristic of fieldset and legend. Legend causes the gap to be created in the context of fieldset.

[2021-11-23 14:58] ChrisEdS opened #247 "[UX] 2F TOTP confuses Guest Users in default configuration"
### Steps to reproduce
1. Enable the Guests App
2. Enable 2FA TOTP
3. Log in as guest
4. Try to setup 2FA TOTP via `User -> Security -> TOTP Second-factor Auth`

### Current behaviour
In the ownCloud default configuration, 2FA is active for all groups, including the `guests_app` group. When a guest goes to the Security tab he has the possibility to select `Activate TOTP` but the QR code does not a

[2021-11-23 15:12] jnweiger commented on #247
More expected behaviours:
 *A warning message should be displayed "You are logged in as a guest user. twofactor_totp is not whitelisted for guests. Please consult with your administrator"

 (In general, the guest user scenario is not very well covered in manual tests, currently. Should we add something to the testplan template?)

[2021-11-29 09:05] NannaBarz commented on #247
Add the twofactor_totp to the white list

[2021-11-29 11:09] ChrisEdS commented on #247
?

[2021-11-29 11:10] ChrisEdS commented on #247
You mean the solution should be to add the Guest_App to the Whitelist? But that doesn't solve the user experience if the app is not whitelisted.

[2021-11-29 11:11] phil-davis commented on #141
Looks like it happened as part of https://github.com/owncloud/twofactor_totp/pull/139

[2021-11-29 11:11] #141 closed

[2021-11-29 11:16] phil-davis opened #248 "Add acceptance tests for guests"
See discussion in #247

Add a test suite that runs in CI  with the guests app, and tests what happens when guests try to use 2FA. Try with the guests app whitelisted, and it should all work. Make a scenario(s) to demonstrate what happens when the guests app is not whitelisted - and then we can all discuss what the proper behavior should be, and developers can make it so.

Hint: the password_policy

[2021-11-29 11:18] phil-davis commented on #247
I also raised #248 - it is easy enough to run with the guests app in CI. We do this for password_policy, and can do it here, and think about what other apps would be good to test with scenarios that involve a guest user.

[2021-12-10 12:42] JammingBen commented on #237
Reopening because we still have issues. It seems to be related to the selected language (=word length). When setting to German:

![image](https://user-images.githubusercontent.com/50302941/145575805-5448ae8a-6060-4e10-9806-6dc543a284fa.png)

[2021-12-13 10:42] JammingBen opened #250 "Release twofactor_totp 0.7.4"
#### Reason

* Release needed for https://github.com/owncloud/twofactor_totp/pull/249

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated from transifex` ...
- [ ] Ping pmaier to check `info.xml` description and screensh

[2021-12-14 08:30] JanAckermann commented on #247
No, the whitelist is in the guest app config, so we should add totp to the default whitelist.
I think it is NOT good, just hiding the whole guests config section, the admin will not be able to add or remove totp from the guests app whitelist.

[2021-12-14 09:43] ChrisEdS commented on #247
I don't understand that sentence. The admin can always remove the app from the whitelist?

What if an admin does not want to enable 2FA for guests? Then we are at a remove whitelisting and a bad UX. In this case we should at least show a hint that 2FA is active but cannot be enabled for guests.

[2021-12-14 10:08] pmaier1 commented on #247
2FA is not mandatory, even when enabled. The user needs to set it up for themself. There is not much point in removing it from the guests allow list. I'll not start adding hints or hiding config sections for each and every app that the admin could potentially remove from the guests allow list.

Please add `twofactor_totp` to the default allow list and close the case. Thanks!

[2021-12-14 10:10] JanAckermann commented on #247
done

[2021-12-14 10:10] #247 closed

[2021-12-14 22:59] dillon-sykes commented on #224
I've just had the same issue with the "2-Factor Authentication" app in the marketplace.

For anyone having this issue in the future, the php-imagick PHP extension needs to be installed. I found this was missing from the ownCloud server which this app relies on. After installing this PHP extension and restarting apache, QR codes are now displayed and there are no errors in the console.

[2021-12-14 23:03] dillon-sykes commented on #224
For anyone having this issue, the php-imagick PHP extension needs to be installed. I found this was missing from the ownCloud server, the "2-Factor Authentication" app in the marketplace relies on this extension to work correctly. After installing this PHP extension and restarting apache, QR codes are now displayed and there are no errors in the console.

[2021-12-15 14:20] #224 closed

[2022-01-03 11:18] xoxys opened #252 "Add autofocus to the TOTP input field"
Right now, the input field does not have an initial focus. To enter the TOTP code, a user would need to click into the input field first, which is a bit annoying.

[2022-01-14 09:59] jnweiger opened #253 "[QA] 0.7.4 Testplan"
## Setup
[code]

## Twofactor TOTP Test Plan

* References: [Template](https://github.com/owncloud/QA/edit/master/Server/Test_Plan_twofactor_totp.md)

Run the tests below with freeotp and/or google authenticator. Optionally also some tests with another otp app.

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ------------

[2022-01-14 11:55] jnweiger commented on #250
https://github.com/owncloud/twofactor_totp/releases/download/v0.7.4-rc1/twofactor_totp-0.7.4-rc1.tar.gz

[2022-01-14 12:05] jnweiger commented on #250
## Issues to review
* [ ] https://github.com/owncloud/twofactor_totp/issues/242#issuecomment-966786896
* [ ] https://github.com/owncloud/twofactor_totp/issues/237
* [ ] https://github.com/owncloud/twofactor_totp/issues/203
* [ ] https://github.com/owncloud/twofactor_totp/issues/21

[2022-01-17 11:11] jnweiger commented on #203
@michaelstingl can you give context for this? Is this docs related or is this a change in the totp app?

[2022-01-17 12:29] michaelstingl commented on #203
Not a change in the code, but a change in the `appinfo/info.xml` file in this repo, which is also used for the text in the marketplace listing.

[2022-01-21 10:35] #250 closed

[2022-01-21 10:36] #253 closed

[2022-01-26 08:37] prsnbrg commented on #250
I cannot install the latest version 0.7.4 via the Marketplace (oC 10.9.1).
Also when I go to https://marketplace.owncloud.com/apps/twofactor_totp I do not see version 0.7.4.

[2022-01-27 09:53] GeraldLeikam commented on #250
Fixed. Now you can download the app over our marketplace.

@prsnbrg

[2022-02-17 15:12] jnweiger opened #260 "[QA] missing dependency on php-imagick"
Seen with twofactor_totp 0.7.4 and core 10.9.1 on Ubuntu 20.04 where php-imagick is not installed.

* admin enables the twofactor_totp app
* admin navigates to his personal settings -> security and clicks the TOTP checkbox
![image](https://user-images.githubusercontent.com/1108546/154510098-c6d34c55-11c8-4e92-a7f3-ba8703615962.png)
----
* no QR code is rendered. No error messages are shown. BAD.
*

[2022-04-06 12:42] #260 closed

[2022-04-06 14:18] phil-davis commented on #260
@jnweiger when I enable the app from the webUI admin settings it does a call to https://github.com/owncloud/core/blob/master/settings/ajax/enableapp.php

That code calls `OC_App::enable` in the same way that the occ command calls `OC_App::enable` - and both should call `checkAppDependencies` with the same parameters. So I don't immediately see how there can be a difference.

On my local system I g

[2022-11-03 09:44] dj4oC opened #276 "TOTP not mendetory if browser plugin uses app passcode"
-- transferd --
As a user I use TOTP on my local oC 10 installation.

I did follow https://owncloud.com/news/how-to-sync-passwords-with-buttercup/ to store my passwords in a buttercup database.

Additional I am using chrome browser extension of buttercup (https://chrome.google.com/webstore/detail/buttercup/heflipieckodmcppbnembejjmabajjjj?hl=en-GB)

To set up buttercup browser extension I need to

[2022-11-11 10:44] ilgio commented on #260
I have same problem
how do I resolve?
I updated owncloud to 10.11 but doesent work

[2022-11-12 09:08] jnweiger commented on #260
@ilgio did you try the mentioned
Manual workaround on Ubuntu:

`apt install php-imagick; service apache2 restart`